.footer {
    font-size: 12px;
    color: var(--secondary);
}

.footer {
    flex-shrink: 0;
    padding: 0px;
    margin: 0px auto;
    text-align: left;
    line-height: 24px;
    color: var(--primary);

    max-width: calc(var(--main-width) + var(--gap) * 2); /* 和 main 一样宽 */
    width: 100%;                        /* 保持块撑满父容器 */
}

.footer span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;
}

.footer span:last-child {
    white-space: nowrap;
}

.footer a {
    color: inherit;
    border-bottom: 1px solid var(--secondary);
}

.footer a:hover {
    border-bottom: 1px solid var(--primary);
}

.footer-line {

    width: 15%;
    max-width: 180px;
    min-width: 80px;

    /* 设置横线宽度，80% 可根据需求调整 */
    /* border: none; */
    /* 定义横线的粗细和颜色 */
    margin-top: auto;
    margin-left: 0;
    /* 左对齐 */
    margin-bottom: 10px;
    /* 与下方文字分隔开 */
    border-top: 2px solid var(--primary)
}

.top-link {
    /* font-size: 7px; */
    /* color: var(--secondary); */
    visibility: hidden;
    position: fixed;
    bottom: 15px;
    right: 12px;
    z-index: 99;
    /* background: var(--tertiary); */
    /* background: transparent; */
    /* width: 35px; */
    /* height: 35px; */
    /* padding: 12px; */
    /* border-radius: 35px; */
    transition: visibility 0.5s, opacity 0.5s linear;
}


.icon {
    width: 15px;
    height: 15px;
    fill: var(--primary);
    /* 控制 SVG 的颜色 */
}


/* .top-link,
.top-link svg {
    filter: drop-shadow(0px 0px 10px var(--theme));
} */

.footer a:hover,
.top-link:hover {
    color: var(--primary);
}

.top-link:focus,
#theme-toggle:focus {
    outline: 0;
}