.main {
    flex: 1;
    /* 自动撑满中间区域 */
    margin: var(--gap) auto;
    padding: var(--gap);
    max-width: calc(var(--main-width) + var(--gap) * 2);
    /* min-width: var(--main-width); */
    /* width: var(--main-width); */
    width: 100%;         
}

/* 在较小的屏幕上 */
/* @media (max-width: 438px) {
    .main {
        max-width: calc(var(--main-width) + var(--gap) * 2);
        margin: auto;
        padding: var(--gap);
        flex: 1;
    }
} */

.page-header h1 {
    font-size: 30px;
    font-family: 'Cinzel-Decorative', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pagination {
    display: flex;
}

.pagination a {
    color: var(--theme);
    font-size: 13px;
    line-height: 36px;
    background: var(--primary);
    border-radius: calc(36px / 2);
    padding: 0 16px;
}

.pagination .next {
    margin-inline-start: auto;
}

.social-icons {
    padding: 12px 0;
}

.social-icons a:not(:last-of-type) {
    margin-inline-end: 12px;
}

.social-icons a svg {
    height: 26px;
    width: 26px;
}

code {
    direction: ltr;
}

div.highlight,
pre {
    position: relative;
}

.copy-code {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    color: #4b0082;
    background: #e1b5bd;
    border-radius: var(--radius);
    padding: 0 5px;
    font-size: 14px;
    user-select: none;
}

div.highlight:hover .copy-code,
pre:hover .copy-code {
    display: block;
}

.entry-content p {
    margin-bottom: 10px;
}


.body-link {
    font-weight: 700;
}

.body-link:hover {
    text-decoration: underline;
}

.cool-things {
    padding-inline-start: 20px;
    padding-bottom: 20px;
}